<app-create (newBookEvent)="addBookToList($event)"></app-create>


<div>
  <input #searchTitle placeholder="Please enter the title">
  <button (click)="searchForTitle(searchTitle.value)">Search</button>
</div>
<div>
  {{searchResult}}
</div>

<app-content-card *ngFor="let b of (books | typeFilter: 'Fiction'); last as isLast" [book]="b" [class.is-last]="isLast" class="Fiction"></app-content-card>

<app-content-card *ngFor="let b of (books | typeFilter: 'Non-Fiction'); last as isLast" [book]="b" [class.is-last]="isLast" class="Non-Fiction"></app-content-card>

