:host{
  width: 400px;
  display: block;
  margin: 24px auto;
  border: 2px dashed gray;
}

:host.is-last{
  border: 2px solid black;
}

:host.Fiction{
  border: 4px solid coral;
}

:host.Non-Fiction{
  border: 2px solid indigo;
}
