:host{
  width: 400px;
  display: block;
  margin: 24px auto;
  border: 1px dashed;
}

.title {
  font-size: 20px;
  text-align: center;
}

.main-image{
  width: 400px;
}

.special {
  color: #1976d2;
}
